- @termometro = Thing.first
- @luz = Thing.second
- @presencia = Thing.third

.row.main-panel
  .col-md-4.control
    .title
      %h2 Temperatura
    .arrow-up#subir-temp
      =icon('caret-up')
    .image
      .termometro
        =image_tag(image_path('thermometer.png'))
        %br
        = "#{@termometro.desired_value} ºC"
    .arrow-down#bajar-temp
      =icon('caret-down')
  .col-md-4.control
    .title
      %h2 Luz
    .arrow-up#subir-luz
      =icon('caret-up')
    .image
      .luz
        =image_tag(image_path('light-bulb.png'))
        %br
        = "#{@luz.desired_value} %"
    .arrow-down#bajar-luz
      =icon('caret-down')
  .col-md-4.control
    .title
      %h2 Presencia
    .image
      =image_tag(image_path('presence.png'))

:javascript
  $('#bajar-temp').on('click', function(){
    var new_val = parseInt("#{@termometro.desired_value}");
    if(new_val <= 16){
      new_val = 16;
    }else{
      new_val = new_val - 1 ;
    }
    $.ajax({
      url: "#{update_value_path(@termometro)}?thing[desired_value]=" + new_val,
      type: "GET"
    });
  });
  $('#subir-temp').on('click', function(){
    var new_val = parseInt("#{@termometro.desired_value}");
    if(new_val >= 42){
      new_val = 42;
    }else{
      new_val = new_val + 1 ;
    }
    $.ajax({
      url: "#{update_value_path(@termometro)}?thing[desired_value]=" + new_val,
      type: "GET"
    });
  });
  $('#bajar-luz').on('click', function(){
    var new_val = parseInt("#{@luz.desired_value}");
    if(new_val <= 0){
      new_val = 0;
    }else{
      new_val = new_val - 10 ;
    }
    $.ajax({
      url: "#{update_value_path(@luz)}?thing[desired_value]=" + new_val,
      type: "GET"
    });
  });

  $('#subir-luz').on('click', function(){
    var new_val = parseInt("#{@luz.desired_value}");
    if(new_val >= 100){
      new_val = 100;
    }else{
      new_val = new_val + 10 ;
    }
    $.ajax({
      url: "#{update_value_path(@luz)}?thing[desired_value]=" + new_val,
      type: "GET"
    });
  });
