%p#notice= notice

%p
  %b Name:
  = @thing.name
%p
  %b Status:
  = @thing.status
%p
  %b Desired value:
  = @thing.desired_value

= link_to 'Edit', edit_thing_path(@thing)
\|
= link_to 'Back', things_path
